.nav-link{
    color:black;
}
.nav-link.active {
    color: #f27a1a !important;
}
.nav-link:hover{
    color: black !important;
}

.membership-container {
    width: 30rem !important;
    margin:0
}

@media only screen and (max-width: 768px) {
    .membership-container {
      width: 100% !important;
    }
  }